body
{
    background-color: gray;
}
.div-main-name
{
    position:absolute;
    width: 1000px;
    height: 100px;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: blue;    
}

h1
{
    background-color: aqua;
    margin: 10px;
}

.div-main-photo
{
    position: absolute;
    width: 250px;
    height: 300px;
    top: 100px;
    left: 0;
    background-color: darkslategrey;
}

.profile-picture
{
    border-radius: 100%;
    margin: 20px;
}

.div-about-me
{
    position: absolute;
    top: 100px;
    left: 250px;
    width: 750px;
    height: 300px;
    line-height: 25px;
    color: darkslategrey;
    background-color: green;
}

.about-me-text
{
    margin: 20px;
    background-color: lightblue;
}

.div-links
{
    position: absolute;
    top: 400px;
    text-decoration: none;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: yellow;
    left: 0px;
}

.text-links
{
    margin: 20px;
    background-color: darkgrey;
}

.div-skills
{
    position: absolute;
    top: 450px;
    width: 250px;
    height: 150px;
    background-color: orange;
    left: 0px;
}

.list-skills
{
    margin: 20px;
    background-color: red;
}